# ignore Mac folder files
.DS_Store

# ignore stupid R files
.R*

# ignore study folders for private lab stuff, except "artecat" which will serve as a demo
anton6-shapes
anton6-original
dinofish2

# ignore all study data and log files that don't start with "e" (which allows
# for the "empty-placeholder.txt" files
artecat/logs/[!e]*
artecat/sessions/[!e]*

# ignore the counterbalancer files
*/counterbalancer.txt

# ignore any internal documents
internal*